body {
    font-family: "Courier New", Courier, monospace;
    background: #A7D477;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #F72C5B;
    font-size: 2.5em;
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 110px);
    padding: 10px;
    border: 2px solid #FF748B;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #FF748B;
    outline: none;
}

button {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 5px 0;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

li:hover {
    background-color: #e2e6ea;
}

li button:hover {
    background-color: #c82333;
}

li button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex; /* Align icon and text */
    align-items: center; /* Center icon vertically */
}

li button i {
    margin-right: 0px; /* Space between icon and text */
}
